{% extends "base.html" %}

{% block menu %}
    {% if perms.webapp.add_project %}
          <li><a href="{% url "project:add" %}">Create project</a></li>
    {% endif %}

    {% if perms.webapp.add_task %}
          <li><a href="{% url "project:add-task" project.pk %}">Create Task</a></li>
     {% endif %}

    {% if perms.webapp.view_project %}
          <li><a href="{% url "project:list" %}">List project</a></li>
    {% endif %}

    {% if perms.webapp.delete_project %}
          <li><a href="{% url "project:delete" project.id %}">Delete Project</a></li>
    {% endif %}

    {% if perms.webapp.update_project %}
          <li><a href="{% url "project:update" project.id %}">Update Project</a></li>
    {% endif %}

    {% if perms.webapp.have_user %}
          <li><a href="{% url "project:add-user" project.id %}">Add User</a></li>
    {% endif %}

{% endblock menu %}

{% block page_header %}Проект {{ project.id }}{% endblock page_header %}

{% block content %}
    <div class="card text-dark bg-info mb-3" style="max-width: 45rem;">
  <div class="card-header">Project</div>
  <div class="card-body">
    <p class="card-text">Name: {{ project.name}}</p>
    <p class="card-text">Description: {{ project.description_project }}</p>
    <p class="card-text">Start date: {{ project.start_date }}</p>
    <p class="card-text">End date: {{ project.end_date }}</p>
  </div>
</div>
    {% if not project.user.all %}
        <h2>No users</h2>
    {% endif %}
        {% for user in project.user.all %}
            <p>{{ user.username }}</p>
        {% endfor %}



    {% if not project.tasks.all %}
        <h2>No trackers</h2>

    {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Summary</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for task in project.tasks.all %}
                <tr>
                    <th><a href="{% url "project:view-task" task.pk %}">{{ task.id }}</a></th>
                    <td>{{ task.summary }}</td>
                    <td>{{ task.description }}</td>
                </tr>
            {% endfor %}
          {% include 'partial/paginate.html' %}
          </tbody>
        </table>

{% endblock content %}