{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "project:add" %}">Create project</a></li>{% endblock menu %}
{% block title %}Project{% endblock title %}

{% block page_header %}Все проекты{% endblock page_header %}

{% block content %}
    {% if not projects %}
        <h2>НЕТ проектов</h2>
        {% else %}

    {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
                <tr>
                    <th><a href="{% url "project:view" project.pk %}"> {{ project.name }}</th>
                    <th>{{ project.description_project }}</th>
                </tr>
            {% endfor %}
          {% include 'partial/paginate.html' %}
          </tbody>
        </table>


{% endblock content %}